body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:880px;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:880px;
}
#u884 {
  position:absolute;
  left:2px;
  top:432px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 0, 153, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:99px;
}
#u886 {
  position:absolute;
  left:2px;
  top:42px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:91px;
}
#u887 {
  position:absolute;
  left:24px;
  top:4px;
  width:90px;
  height:91px;
}
#u888 {
  position:absolute;
  left:2px;
  top:38px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u889 {
  position:absolute;
  left:139px;
  top:33px;
  width:281px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:24px;
}
#u891 {
  position:absolute;
  left:766px;
  top:794px;
  width:302px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:38px;
}
#u893 {
  position:absolute;
  left:32px;
  top:823px;
  width:339px;
  height:38px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:16px;
  color:#999999;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:24px;
}
#u895 {
  position:absolute;
  left:36px;
  top:794px;
  width:325px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u897_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:114px;
  height:10px;
}
#u897 {
  position:absolute;
  left:991px;
  top:176px;
  width:109px;
  height:5px;
}
#u898 {
  position:absolute;
  left:2px;
  top:-6px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:114px;
  height:10px;
}
#u899 {
  position:absolute;
  left:0px;
  top:176px;
  width:109px;
  height:5px;
}
#u900 {
  position:absolute;
  left:2px;
  top:-6px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:812px;
  height:10px;
}
#u901 {
  position:absolute;
  left:139px;
  top:176px;
  width:807px;
  height:5px;
}
#u902 {
  position:absolute;
  left:2px;
  top:-6px;
  width:803px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u904 {
  position:absolute;
  left:919px;
  top:17px;
  width:148px;
  height:68px;
  overflow:hidden;
}
#u904_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u904_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:68px;
  background:inherit;
  background-color:rgba(0, 0, 153, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u906 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u904_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:68px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u904_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:68px;
  background:inherit;
  background-color:rgba(0, 0, 153, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u908 {
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
}
#u909 {
  position:absolute;
  left:972px;
  top:56px;
  width:43px;
  height:22px;
  font-size:18px;
  color:#FF0033;
}
#u910 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u911 {
  position:absolute;
  left:1016px;
  top:56px;
  width:34px;
  height:22px;
  font-size:18px;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u913 {
  position:absolute;
  left:929px;
  top:36px;
  width:30px;
  height:30px;
}
#u914 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:7px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916 {
  position:absolute;
  left:234px;
  top:175px;
  width:600px;
  height:7px;
}
#u917 {
  position:absolute;
  left:2px;
  top:-4px;
  width:596px;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:7px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  position:absolute;
  left:234px;
  top:175px;
  width:447px;
  height:7px;
}
#u919 {
  position:absolute;
  left:2px;
  top:-4px;
  width:443px;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u920 {
  position:absolute;
  left:822px;
  top:172px;
  width:15px;
  height:15px;
}
#u921 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u922 {
  position:absolute;
  left:184px;
  top:136px;
  width:120px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u924 {
  position:absolute;
  left:329px;
  top:137px;
  width:120px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u926 {
  position:absolute;
  left:474px;
  top:137px;
  width:120px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
}
#u928 {
  position:absolute;
  left:620px;
  top:135px;
  width:120px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:19px;
}
#u930 {
  position:absolute;
  left:765px;
  top:136px;
  width:155px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u932 {
  position:absolute;
  left:233px;
  top:172px;
  width:15px;
  height:15px;
}
#u933 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u934 {
  position:absolute;
  left:377px;
  top:172px;
  width:15px;
  height:15px;
}
#u935 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u936 {
  position:absolute;
  left:667px;
  top:167px;
  width:25px;
  height:25px;
}
#u937 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u938 {
  position:absolute;
  left:527px;
  top:172px;
  width:15px;
  height:15px;
}
#u939 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
}
#u940 {
  position:absolute;
  left:739px;
  top:1718px;
  width:180px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:18px;
}
#u942 {
  position:absolute;
  left:603px;
  top:1896px;
  width:249px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u944 {
  position:absolute;
  left:166px;
  top:239px;
}
#u944_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u944_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:415px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:6px;
  -moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:415px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u947 {
  position:absolute;
  left:16px;
  top:200px;
  width:713px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:2px;
}
#u948 {
  position:absolute;
  left:0px;
  top:62px;
  width:745px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u949 {
  position:absolute;
  left:2px;
  top:-8px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:2px;
}
#u950 {
  position:absolute;
  left:0px;
  top:365px;
  width:745px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u951 {
  position:absolute;
  left:2px;
  top:-8px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:24px;
}
#u952 {
  position:absolute;
  left:259px;
  top:19px;
  width:228px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#245EA3;
  text-align:center;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u957 {
  position:absolute;
  left:49px;
  top:81px;
  width:590px;
  height:266px;
}
#u958 {
  position:absolute;
  left:2px;
  top:125px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:264px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-right:0px;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959 {
  position:absolute;
  left:50px;
  top:82px;
  width:126px;
  height:264px;
}
#u960 {
  position:absolute;
  left:2px;
  top:124px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:2px;
}
#u961 {
  position:absolute;
  left:49px;
  top:158px;
  width:590px;
  height:1px;
}
#u962 {
  position:absolute;
  left:2px;
  top:-8px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:2px;
}
#u963 {
  position:absolute;
  left:49px;
  top:280px;
  width:590px;
  height:1px;
}
#u964 {
  position:absolute;
  left:2px;
  top:-8px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u965 {
  position:absolute;
  left:56px;
  top:111px;
  width:103px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:right;
  line-height:18px;
}
#u966 {
  position:absolute;
  left:0px;
  top:1px;
  width:95px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
}
#u967 {
  position:absolute;
  left:208px;
  top:98px;
  width:180px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
}
#u969 {
  position:absolute;
  left:440px;
  top:98px;
  width:180px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
}
#u971 {
  position:absolute;
  left:208px;
  top:127px;
  width:180px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:18px;
}
#u973 {
  position:absolute;
  left:440px;
  top:127px;
  width:249px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u975 {
  position:absolute;
  left:56px;
  top:303px;
  width:103px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:right;
  line-height:18px;
}
#u976 {
  position:absolute;
  left:0px;
  top:1px;
  width:95px;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:18px;
}
#u977 {
  position:absolute;
  left:208px;
  top:290px;
  width:385px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AEAEAE;
  text-align:left;
  line-height:18px;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
}
#u979 {
  position:absolute;
  left:220px;
  top:319px;
  width:180px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:18px;
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:18px;
}
#u981 {
  position:absolute;
  left:208px;
  top:177px;
  width:130px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
}
#u983 {
  position:absolute;
  left:208px;
  top:210px;
  width:180px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u987 {
  position:absolute;
  left:311px;
  top:178px;
  width:23px;
  height:16px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u988 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u989 {
  position:absolute;
  left:333px;
  top:174px;
  width:49px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u990 {
  position:absolute;
  left:0px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u992 {
  position:absolute;
  left:430px;
  top:178px;
  width:23px;
  height:16px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u993 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u994 {
  position:absolute;
  left:452px;
  top:174px;
  width:49px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u995 {
  position:absolute;
  left:0px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u998 {
  position:absolute;
  left:311px;
  top:214px;
  width:23px;
  height:16px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u999 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u1000 {
  position:absolute;
  left:333px;
  top:210px;
  width:49px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u1001 {
  position:absolute;
  left:0px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u1002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1003 {
  position:absolute;
  left:430px;
  top:214px;
  width:23px;
  height:16px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1004 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u1005 {
  position:absolute;
  left:452px;
  top:210px;
  width:49px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u1006 {
  position:absolute;
  left:0px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u1007 {
  position:absolute;
  left:56px;
  top:195px;
  width:103px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:right;
  line-height:18px;
}
#u1008 {
  position:absolute;
  left:0px;
  top:1px;
  width:95px;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
}
#u1009 {
  position:absolute;
  left:208px;
  top:246px;
  width:180px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1012 {
  position:absolute;
  left:311px;
  top:250px;
  width:23px;
  height:16px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1013 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u1014 {
  position:absolute;
  left:333px;
  top:246px;
  width:129px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:18px;
}
#u1015 {
  position:absolute;
  left:0px;
  top:2px;
  width:113px;
  white-space:nowrap;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:30px;
}
#u1016 {
  position:absolute;
  left:34px;
  top:376px;
  width:596px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF6600;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(35, 192, 250, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1018 {
  position:absolute;
  left:404px;
  top:458px;
  width:120px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1019 {
  position:absolute;
  left:16px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u1018_ann {
  position:absolute;
  left:517px;
  top:454px;
  width:1px;
  height:1px;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:21px;
}
#u1020 {
  position:absolute;
  left:221px;
  top:458px;
  width:120px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:21px;
}
#u1021 {
  position:absolute;
  left:16px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u1020_ann {
  position:absolute;
  left:334px;
  top:454px;
  width:1px;
  height:1px;
}
#u944_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u944_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:415px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:6px;
  -moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:415px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1024 {
  position:absolute;
  left:16px;
  top:200px;
  width:713px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:2px;
}
#u1025 {
  position:absolute;
  left:0px;
  top:61px;
  width:745px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1026 {
  position:absolute;
  left:2px;
  top:-8px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:2px;
}
#u1027 {
  position:absolute;
  left:0px;
  top:357px;
  width:745px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1028 {
  position:absolute;
  left:2px;
  top:-8px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:24px;
}
#u1029 {
  position:absolute;
  left:259px;
  top:19px;
  width:228px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#245EA3;
  text-align:center;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u1031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:239px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1033 {
  position:absolute;
  left:49px;
  top:88px;
  width:590px;
  height:239px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:112px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:237px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-right:0px;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1035 {
  position:absolute;
  left:50px;
  top:89px;
  width:126px;
  height:237px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:110px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:2px;
}
#u1037 {
  position:absolute;
  left:49px;
  top:160px;
  width:590px;
  height:1px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:-8px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:2px;
}
#u1039 {
  position:absolute;
  left:49px;
  top:245px;
  width:590px;
  height:1px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:-8px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u1042 {
  position:absolute;
  left:56px;
  top:171px;
  width:103px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:right;
  line-height:18px;
}
#u1043 {
  position:absolute;
  left:0px;
  top:1px;
  width:95px;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
}
#u1044 {
  position:absolute;
  left:208px;
  top:171px;
  width:180px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
}
#u1046 {
  position:absolute;
  left:440px;
  top:172px;
  width:180px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:18px;
}
#u1048 {
  position:absolute;
  left:424px;
  top:212px;
  width:249px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u1050 {
  position:absolute;
  left:56px;
  top:272px;
  width:103px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:right;
  line-height:18px;
}
#u1051 {
  position:absolute;
  left:0px;
  top:1px;
  width:95px;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:18px;
}
#u1052 {
  position:absolute;
  left:208px;
  top:259px;
  width:385px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AEAEAE;
  text-align:left;
  line-height:18px;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
}
#u1054 {
  position:absolute;
  left:220px;
  top:288px;
  width:180px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:18px;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:18px;
}
#u1057 {
  position:absolute;
  left:208px;
  top:98px;
  width:290px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
}
#u1059 {
  position:absolute;
  left:208px;
  top:127px;
  width:180px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u1061 {
  position:absolute;
  left:56px;
  top:116px;
  width:103px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:right;
  line-height:18px;
}
#u1062 {
  position:absolute;
  left:0px;
  top:1px;
  width:95px;
  word-wrap:break-word;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:2px;
}
#u1063 {
  position:absolute;
  left:49px;
  top:201px;
  width:590px;
  height:1px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:-8px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u1065 {
  position:absolute;
  left:56px;
  top:212px;
  width:103px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:right;
  line-height:18px;
}
#u1066 {
  position:absolute;
  left:0px;
  top:1px;
  width:95px;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
}
#u1067 {
  position:absolute;
  left:208px;
  top:212px;
  width:180px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1068 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:30px;
}
#u1069 {
  position:absolute;
  left:34px;
  top:376px;
  width:596px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF6600;
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  word-wrap:break-word;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(35, 192, 250, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1071 {
  position:absolute;
  left:404px;
  top:458px;
  width:120px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1072 {
  position:absolute;
  left:16px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u1071_ann {
  position:absolute;
  left:517px;
  top:454px;
  width:1px;
  height:1px;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:21px;
}
#u1073 {
  position:absolute;
  left:221px;
  top:458px;
  width:120px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:21px;
}
#u1074 {
  position:absolute;
  left:16px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u1073_ann {
  position:absolute;
  left:334px;
  top:454px;
  width:1px;
  height:1px;
}
