body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1528px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:880px;
}
#u1440 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:880px;
}
#u1441 {
  position:absolute;
  left:2px;
  top:432px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:99px;
  background:inherit;
  background-color:rgba(0, 0, 153, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1442 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:99px;
}
#u1443 {
  position:absolute;
  left:2px;
  top:42px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:91px;
}
#u1444 {
  position:absolute;
  left:24px;
  top:4px;
  width:90px;
  height:91px;
}
#u1445 {
  position:absolute;
  left:2px;
  top:38px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1446 {
  position:absolute;
  left:139px;
  top:33px;
  width:281px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1447 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u1448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:24px;
}
#u1448 {
  position:absolute;
  left:766px;
  top:794px;
  width:302px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1449 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u1450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:38px;
}
#u1450 {
  position:absolute;
  left:32px;
  top:823px;
  width:339px;
  height:38px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:16px;
  color:#999999;
}
#u1451 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u1452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:24px;
}
#u1452 {
  position:absolute;
  left:36px;
  top:794px;
  width:325px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1453 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u1454_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:114px;
  height:10px;
}
#u1454 {
  position:absolute;
  left:991px;
  top:176px;
  width:109px;
  height:5px;
}
#u1455 {
  position:absolute;
  left:2px;
  top:-6px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1456_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:114px;
  height:10px;
}
#u1456 {
  position:absolute;
  left:0px;
  top:176px;
  width:109px;
  height:5px;
}
#u1457 {
  position:absolute;
  left:2px;
  top:-6px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:812px;
  height:10px;
}
#u1458 {
  position:absolute;
  left:139px;
  top:176px;
  width:807px;
  height:5px;
}
#u1459 {
  position:absolute;
  left:2px;
  top:-6px;
  width:803px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1460 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1461 {
  position:absolute;
  left:919px;
  top:17px;
  width:148px;
  height:68px;
  overflow:hidden;
}
#u1461_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1461_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:68px;
  background:inherit;
  background-color:rgba(0, 0, 153, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1462 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1463 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1461_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:68px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1461_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:68px;
  background:inherit;
  background-color:rgba(0, 0, 153, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1464 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1465 {
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u1466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
}
#u1466 {
  position:absolute;
  left:972px;
  top:56px;
  width:43px;
  height:22px;
  font-size:18px;
  color:#FF0033;
}
#u1467 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u1468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u1468 {
  position:absolute;
  left:1016px;
  top:56px;
  width:34px;
  height:22px;
  font-size:18px;
}
#u1469 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u1470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1470 {
  position:absolute;
  left:929px;
  top:36px;
  width:30px;
  height:30px;
}
#u1471 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:91px;
}
#u1472 {
  position:absolute;
  left:24px;
  top:4px;
  width:90px;
  height:91px;
}
#u1473 {
  position:absolute;
  left:2px;
  top:38px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1474 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:415px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:6px;
  -moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1475 {
  position:absolute;
  left:166px;
  top:239px;
  width:745px;
  height:415px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1476 {
  position:absolute;
  left:16px;
  top:200px;
  width:713px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:2px;
}
#u1477 {
  position:absolute;
  left:166px;
  top:292px;
  width:745px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1478 {
  position:absolute;
  left:2px;
  top:-8px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:2px;
}
#u1479 {
  position:absolute;
  left:166px;
  top:604px;
  width:745px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1480 {
  position:absolute;
  left:2px;
  top:-8px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1481 {
  position:absolute;
  left:571px;
  top:413px;
  width:8px;
  height:8px;
}
#u1482 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(35, 192, 250, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1483 {
  position:absolute;
  left:570px;
  top:691px;
  width:120px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1484 {
  position:absolute;
  left:16px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u1483_ann {
  position:absolute;
  left:683px;
  top:687px;
  width:1px;
  height:1px;
}
#u1485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:21px;
}
#u1485 {
  position:absolute;
  left:387px;
  top:691px;
  width:120px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:21px;
}
#u1486 {
  position:absolute;
  left:16px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u1485_ann {
  position:absolute;
  left:500px;
  top:687px;
  width:1px;
  height:1px;
}
#u1487 {
  position:absolute;
  left:471px;
  top:703px;
  width:8px;
  height:8px;
  overflow:hidden;
}
#u1487_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1487_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:150px;
  background:inherit;
  background-color:rgba(102, 185, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:18px;
  color:#FFFFFF;
}
#u1488 {
  position:absolute;
  left:1188px;
  top:199px;
  width:340px;
  height:150px;
  font-size:18px;
  color:#FFFFFF;
}
#u1489 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  word-wrap:break-word;
}
#u1490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:30px;
}
#u1490 {
  position:absolute;
  left:200px;
  top:615px;
  width:596px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF6600;
}
#u1491 {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  word-wrap:break-word;
}
#u1492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:24px;
}
#u1492 {
  position:absolute;
  left:436px;
  top:254px;
  width:228px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#245EA3;
  text-align:center;
}
#u1493 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u1494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:264px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:24px;
}
#u1494 {
  position:absolute;
  left:220px;
  top:318px;
  width:660px;
  height:264px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:24px;
}
#u1495 {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  word-wrap:break-word;
}
#u1496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:22px;
}
#u1496 {
  position:absolute;
  left:18px;
  top:795px;
  width:303px;
  height:22px;
}
#u1497 {
  position:absolute;
  left:2px;
  top:3px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:56px;
}
#u1498 {
  position:absolute;
  left:18px;
  top:816px;
  width:288px;
  height:56px;
}
#u1499 {
  position:absolute;
  left:2px;
  top:20px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:10px;
}
#u1500 {
  position:absolute;
  left:306px;
  top:816px;
  width:48px;
  height:10px;
}
#u1501 {
  position:absolute;
  left:2px;
  top:-3px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:46px;
}
#u1502 {
  position:absolute;
  left:306px;
  top:826px;
  width:48px;
  height:46px;
}
#u1503 {
  position:absolute;
  left:2px;
  top:15px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:46px;
}
#u1504 {
  position:absolute;
  left:354px;
  top:826px;
  width:29px;
  height:46px;
}
#u1505 {
  position:absolute;
  left:2px;
  top:15px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:24px;
}
#u1506 {
  position:absolute;
  left:32px;
  top:804px;
  width:339px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1507 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u1508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:19px;
}
#u1508 {
  position:absolute;
  left:32px;
  top:833px;
  width:339px;
  height:19px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:16px;
  color:#999999;
}
#u1509 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u1510 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1511 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:7px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1512 {
  position:absolute;
  left:235px;
  top:176px;
  width:600px;
  height:7px;
}
#u1513 {
  position:absolute;
  left:2px;
  top:-4px;
  width:596px;
  word-wrap:break-word;
}
#u1514 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1515 {
  position:absolute;
  left:823px;
  top:173px;
  width:15px;
  height:15px;
}
#u1516 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1517 {
  position:absolute;
  left:232px;
  top:168px;
  width:25px;
  height:25px;
}
#u1518 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1519 {
  position:absolute;
  left:378px;
  top:173px;
  width:15px;
  height:15px;
}
#u1520 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1521 {
  position:absolute;
  left:673px;
  top:173px;
  width:15px;
  height:15px;
}
#u1522 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1523 {
  position:absolute;
  left:528px;
  top:173px;
  width:15px;
  height:15px;
}
#u1524 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1525 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
}
#u1526 {
  position:absolute;
  left:185px;
  top:135px;
  width:120px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1527 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u1528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u1528 {
  position:absolute;
  left:330px;
  top:137px;
  width:120px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1529 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u1530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u1530 {
  position:absolute;
  left:475px;
  top:137px;
  width:120px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1531 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u1532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u1532 {
  position:absolute;
  left:621px;
  top:137px;
  width:120px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1533 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u1534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:19px;
}
#u1534 {
  position:absolute;
  left:766px;
  top:137px;
  width:155px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1535 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u1536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:35px;
}
#u1536 {
  position:absolute;
  left:200px;
  top:612px;
  width:630px;
  height:35px;
}
#u1537 {
  position:absolute;
  left:2px;
  top:10px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:30px;
}
#u1538 {
  position:absolute;
  left:200px;
  top:617px;
  width:735px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF6600;
}
#u1539 {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  word-wrap:break-word;
}
#u1540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(35, 192, 250, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1540 {
  position:absolute;
  left:570px;
  top:691px;
  width:120px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1541 {
  position:absolute;
  left:16px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u1540_ann {
  position:absolute;
  left:683px;
  top:687px;
  width:1px;
  height:1px;
}
#u1542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:21px;
}
#u1542 {
  position:absolute;
  left:387px;
  top:691px;
  width:120px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:21px;
}
#u1543 {
  position:absolute;
  left:16px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u1542_ann {
  position:absolute;
  left:500px;
  top:687px;
  width:1px;
  height:1px;
}
