body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:818px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:216px;
}
#u432 {
  position:absolute;
  left:85px;
  top:104px;
  width:583px;
  height:216px;
  font-size:20px;
}
#u433 {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  word-wrap:break-word;
}
#u434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u434 {
  position:absolute;
  left:59px;
  top:55px;
  width:121px;
  height:28px;
}
#u435 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u436 {
  position:absolute;
  left:59px;
  top:363px;
  width:193px;
  height:28px;
}
#u437 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u438 {
  position:absolute;
  left:225px;
  top:444px;
  width:97px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u439 {
  position:absolute;
  left:2px;
  top:15px;
  width:93px;
  word-wrap:break-word;
}
#u440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:63px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u440 {
  position:absolute;
  left:184px;
  top:541px;
  width:180px;
  height:63px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u441 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:63px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u442 {
  position:absolute;
  left:184px;
  top:761px;
  width:180px;
  height:63px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u443 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:63px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u444 {
  position:absolute;
  left:426px;
  top:958px;
  width:129px;
  height:63px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u445 {
  position:absolute;
  left:2px;
  top:10px;
  width:125px;
  word-wrap:break-word;
}
#u446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u446 {
  position:absolute;
  left:441px;
  top:859px;
  width:100px;
  height:48px;
  font-size:16px;
  color:#FFFFFF;
}
#u447 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:63px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u448 {
  position:absolute;
  left:583px;
  top:859px;
  width:180px;
  height:63px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u449 {
  position:absolute;
  left:2px;
  top:24px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450 {
  position:absolute;
  left:274px;
  top:496px;
  width:0px;
  height:0px;
}
#u450_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u450_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u451 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452 {
  position:absolute;
  left:344px;
  top:990px;
  width:0px;
  height:0px;
}
#u452_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:86px;
  height:8px;
}
#u452_seg1 {
  position:absolute;
  left:67px;
  top:-10px;
  width:20px;
  height:20px;
}
#u453 {
  position:absolute;
  left:-9px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u454 {
  position:absolute;
  left:491px;
  top:958px;
  width:0px;
  height:0px;
}
#u454_seg0 {
  position:absolute;
  left:-4px;
  top:-51px;
  width:8px;
  height:55px;
}
#u454_seg1 {
  position:absolute;
  left:-10px;
  top:-56px;
  width:20px;
  height:20px;
}
#u455 {
  position:absolute;
  left:-50px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u456 {
  position:absolute;
  left:441px;
  top:883px;
  width:0px;
  height:0px;
}
#u456_seg0 {
  position:absolute;
  left:-65px;
  top:-4px;
  width:65px;
  height:8px;
}
#u456_seg1 {
  position:absolute;
  left:-65px;
  top:-94px;
  width:8px;
  height:98px;
}
#u456_seg2 {
  position:absolute;
  left:-77px;
  top:-94px;
  width:20px;
  height:8px;
}
#u456_seg3 {
  position:absolute;
  left:-82px;
  top:-100px;
  width:20px;
  height:20px;
}
#u457 {
  position:absolute;
  left:-111px;
  top:-30px;
  width:100px;
  word-wrap:break-word;
}
#u458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:63px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u458 {
  position:absolute;
  left:184px;
  top:652px;
  width:180px;
  height:63px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u459 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u460 {
  position:absolute;
  left:274px;
  top:604px;
  width:0px;
  height:0px;
}
#u460_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u460_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u461 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:63px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u462 {
  position:absolute;
  left:426px;
  top:748px;
  width:129px;
  height:63px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u463 {
  position:absolute;
  left:2px;
  top:20px;
  width:125px;
  word-wrap:break-word;
}
#u464 {
  position:absolute;
  left:274px;
  top:715px;
  width:0px;
  height:0px;
}
#u464_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u464_seg1 {
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u465 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:150px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:18px;
  color:#FFFFFF;
}
#u466 {
  position:absolute;
  left:499px;
  top:541px;
  width:319px;
  height:150px;
  font-size:18px;
  color:#FFFFFF;
}
#u467 {
  position:absolute;
  left:10px;
  top:10px;
  width:299px;
  word-wrap:break-word;
}
